<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../pasta-css/index.css">
    <link rel="shortcut icon" href="img/icone_navegador.ico" type="icone">
    <title>Home</title>
    
</head>
<body>
    
    <div class="buscador">
        <form action="/{{name}}"method="POST">
            <h1>Busca de Pokemon</h1>
            <input type="text" name="name" placeholder="Nome ou id">
            <button>Buscar</button>
            
        </form>
    </div>
  
    <p>Esse projeto tem com inteção mostra a a capacidade de desenvolver um aplicação simple, com uso de
        apis. </p>
    </body>
</html>