<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nome}}</title>
    <link rel="stylesheet" href="/templates/html/pasta-css/pokemon.css">
</head>
<body>
    <div class="Pokemon">
        <h2>Nome : {{nome}}</h2>
        <h3>ID :{{id}}</h3>
        <h3>Tipo : {{type}}</h3>
        <h3>Habilidades : {{abilities}}</h3>
    </div>
</body>
</html>