html{
    font-size: 100%;
}

body{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
    min-width: 360px;
    min-height: 550px;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100px;

    background: #2f2f2f;
}

header h1{
    color: aliceblue;
    font-family: "Flexo-Regular", arial, sans-serif;
    font-size: 3rem;
    margin: 20px;
}

header .inputButton{
    position: absolute;
    top: 30px;
    left: 45vw;

    font-family: "Flexo-Regular", arial, sans-serif; 
    width: 450px;
    height: 150px;
}

header .inputButton input{
    background-color: aliceblue;
    width: 250px;
    height: 24px;
    margin: 5px;
}

header .inputButton button{
    background-color: azure;
    width: 100px;
    height: 26px;
    margin: 5px;
}

.container{
    width: 90vw;
    height: 90vh;
    min-height: 500px;

    margin: auto;

    background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
    
}

.container .pokemon{
    position: relative;
    top: 90px;
    left: 20px;

    width: 500px;
    height: 70vh;
    

    background-color:rgba(153, 153, 153, 0.80) ;

}

.container .pokemon img{
    margin: auto;

    width: 25vw;
    height: 49vh;
    min-width: 200px;
    min-height: 300px;
}

.container .pokemon h3{
    text-align: center;
    font-size: 2rem;
}

.container .Informação{
    position: absolute;
    top: 122px;
    left: 50%;

    width: 40vw;
    height: 70vh;

    background-color:rgba(153, 153, 153, 0.80);
}

.container .Informação .Height{
    position: absolute;
    top: 10%;
    left: 10%;
}

.container .Informação .Weight{
    position: absolute;
    top: 10%;
    left: 60%;
}

.container .Informação .Type{
    position: absolute;
    top: 50%;
    left: 10%;
}

.container .Informação .Abillities{
    position: absolute;
    top: 50%;
    left: 60%;
}

@media(max-width:1400px ){
    .container .pokemon{
        width: 350px;
    }
}
