<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/index.css">
    <link rel="shortcut icon" href='../static/img/icone_navegador.ico' type="icone">
    <title>PokeDex</title>
    
</head>
<body>
    <header>
        <h1>PokeDex</h1>
        <div class="inputButton">
            <form action="" method="post">
                <input type="text" name="name" placeholder="Name or ID...">
                <button>Buscar</button>
            </form>
        </div>
    </header>
    <div class="container">  
        <div class="backgroud">
            <div class="pokemon">
                <h3>Bulbasaur N°001</h3>
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="pokemon">
                    
            </div>
        </div>
        <div class="Informação">
            <div class="Height">
                <h3>Height:</h3>
                <h3>0.7 m</h3>
            </div>
            <div class="Weight">
                <h3>Weight:</h3>
                <h3>6.9 kg</h3>
            </div>
            <div class="Type">
                <h3>Type:</h3>
                <h3>[Grass][Poison]</h3>                
            </div>
            <div class="Abillities">
                <h3>Abillities:</h3>
                <h3>[Overgrow]</h3>    
            </div>
        </div>
    </div> 
</body>
</html>