<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/index.css">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='Css/index.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/icone_navegador.ico') }}" type="icone">
    <title>PokeDex</title>
    
</head>
<body>
    <header>
        <h1>PokeDex</h1>
        <div class="inputButton">
            <form action="" method="post">
                <input type="text" name="name" placeholder="Name or ID..." alt=" espaço de buscador">
                <button alt="botão de busca">Buscar</button>
            </form>
        </div>
    </header>
    <div class="container">  
        <div class="pokemon">
            <h3 alt="nome">{{name}} N°{{id}}</h3>
            <img src="{{img}}" alt="{{name}}">
                    
        </div>
        <div class="Informação">
            <div class="Height">
                <h3>Height:</h3>
                <h3>{{height}}</h3>
            </div>
            <div class="Weight">
                <h3>Weight:</h3>
                <h3>{{weight}}</h3>
            </div>
            <div class="Type">
                <h3>Type:</h3>
                <h3>{{type}}</h3>                
            </div>
            <div class="Abillities">
                <h3>Abillities:</h3>
                <h3>{{abilities}}</h3>    
            </div>
        </div>
    </div>
</body>
</html>