<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/index.css">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='Css/index.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/icone_navegador.ico') }}" type="icone">
    <title>Home</title>
    
</head>
<body>
    <style>
        @import url('http://fonts.cdnfonts.com/css/pokemon-solid');
    </style>

    <div class="cabeçalho">
        <h2>PokeDex</h2>
        <div class="inputButton">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="name" placeholder="Name or ID...">
                <button>Buscar</button>
            </form>
        </div>
    </div>
    <div class="caixa-de-Informação">  
        <div class="backgroudPokemom">
            <div class="namePokemon">
                <h3>{{name}} N°{{id}}</h3>
                <div class="pokemon">
                    <img src="{{img}}" alt="pokemon">
                    
                </div>
            </div>
        </div>
        <div class="Tabela">
        </div>
    </div> 
    <div class="rodapé"></div>
</body>
</html>